## .NET Core / .NET 9 / Visual Studio / VS Code

# Pastas de Build e Cache
[Bb]in/
[Oo]bj/
.vs/
.vscode/
.idea/

# Arquivos gerados pelo Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Publish e pacotes
[Pp]ublish/
[Rr]elease/
[Dd]ebug/
x64/
x86/
[Bb]uild/

# Arquivos de log e diagnóstico
*.log
*.swp
*~
.access
.net/

# Arquivos do ambiente do usuário / Configurações locais
appsettings.Development.json
appsettings.Local.json
*.pem
*.key

# Testes e cobertura de código
[Tt]est[Rr]esults/
*.trx
*.coverage
*.coveragexml
.sonar/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db